<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    <form method="POST" action="/register">
    <label>Enter a username</label>
    <input type = "text" name = "username">
    <label>Enter a password</label>
    <input type = "password" name = "password">
    <label>repeat your password</label>
    <input type = "password" name = "repeat_password">
    <label>send</label>
    <input type = "submit">
    {{ fehlermeldung }}
</form>
    
</body>
</html>